[Definition]
titleIds = 0000050000101b0400,00050000101b0500
name = "Star Fox Zero - 1440p (2K)"



[TextureRedefine] # tv

width = 1280

height = 720


formatsExcluded = 0x41A # exclude the intro background texture 
overwriteWidth = 2560

overwriteHeight = 1440


[TextureRedefine] # tv
width = 1152
height = 720


formatsExcluded = 0x41A # exclude the intro background texture 
overwriteWidth = 2560

overwriteHeight = 1440


[TextureRedefine] # gamepad

width = 854

height = 480


overwriteWidth = 1920

overwriteHeight = 1080

[TextureRedefine] # gamepad

width = 640
height = 480

overwriteWidth = 1920

overwriteHeight = 1080
