[Definition]
titleIds = 0005000010176800,0005000010179700
name = "Guacamelee! Super Turbo Championship Edition - 2160p (4K)"



[TextureRedefine] # tv

width = 1280

height = 720


overwriteWidth = 3840

overwriteHeight = 2160
