# --- General options --- #

title: Cemu Graphic Packs
description: Largest graphic packs source for Cemu that modify or scale games.

# --- Navigation bar options --- #
navbar-links:
  #Installation: "installation"
  Resources:
    #- FAQ: "frequently-asked-questions"
    - How to make graphic packs: "https://github.com/slashiee/cemu_graphic_packs/wiki/How-to-create-resolution-packs"
  Contribute!: "https://github.com/slashiee/cemu_graphic_packs"

# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar
# avatar: "/img/avatar-icon.png"

# If you want to have an image logo in the top-left corner instead of the title text,
# then specify the following parameter
# title-img: /path/to/image

# --- Background colour/image options --- #

# Dark-themed?
# navbar-col: "#1f1f1f"
# navbar-text-col: "#bfbfbf"
# navbar-children-col: "#333"
# page-col: "#FFFFFF"
# link-col: "#008AFF"
# hover-col: "#0085A1"
# footer-col: "#222"
# footer-text-col: "#989898"
# footer-link-col: "#d2d2d2"

# Or beige
navbar-col: "#d8d8d8"
navbar-text-col: "#404040"
navbar-children-col: "#F5F5F5"
page-col: "#bbbbbb"
link-col: "#008AFF"
hover-col: "#0085A1"
footer-col: "#d8d8d8"
footer-text-col: "#777777"
footer-link-col: "#404040"

# Or just white
# navbar-col: "#F5F5F5"
# navbar-text-col: "#404040"
# navbar-children-col: "#F5F5F5"
# page-col: "#FFFFFF"
# link-col: "#008AFF"
# hover-col: "#0085A1"
# footer-col: "#F5F5F5"
# footer-text-col: "#777777"
# footer-link-col: "#404040"




# Alternatively, the navbar, footer, and page background can be set to use background images
# instead of colour

# navbar-img: "/img/bgimage.png"
# footer-img: "/img/bgimage.png"
# page-img: "/img/bgimage.png"

# --- Footer options --- #

# Change all these values or delete the ones you don't want.
# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: Slashiee + awesome contributors

# Select your active Social Network Links.
# Uncomment the links you want to show in the footer and add your information to each link.
# You can reorder the items to define the link order.
# If you want to add a new link that isn't here, you'll need to also edit the file _data/SocialNetworks.yml
social-network-links:
#  rss: true
#  email: "someone@example.com"
#  facebook: daattali
#  github: daattali
#  twitter: daattali
#  reddit: yourname
#  google-plus: +DeanAttali
#  linkedin: daattali
#  xing: yourname
#  stackoverflow: "3943160/daattali"
#  snapchat: deanat78
#  instagram: deanat78
#  youtube: user/deanat78
#  spotify: yourname
#  telephone: +14159998888
#  steam: deanat78
#  twitch: yourname
#  yelp: yourname

# Select which share links to show in posts
share-links-active:
  twitter: false
  facebook: false
  google: false
  linkedin: false

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
url-pretty: "slashiee.github.io/gfx_pack"

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "-"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: false
      social-share: false
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags index page and make tags on each post clickable
link-tags: true

# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Vagrantfile
  - watch_local.bat

# prose.io config
prose:
  rooturl: '_posts'
  media: 'img'
  ignore:
    - 404.html
    - LICENSE
    - feed.xml
    - _config.yml
    - /_layouts
    - /_includes
    - /css
    - /img
    - /js
  metadata:
    _posts:
      - name: "layout"
        field:
          element: "hidden"
          value: "post"
      - name: "title"
        field:
          element: "text"
          label: "Post title"
          placeholder: "Title"
          alterable: true
      - name: "subtitle"
        field:
          element: "textarea"
          label: "Subtitle"
          placeholder: "A description of your post."
          alterable: true
      - name: "date"
        field:
          element: "text"
          label: "Date"
          help: "Enter date of post."
          placeholder: "yyyy-mm-dd"
          alterable: true
      - name: "image"
        field:
          element: "text"
          label: "Image"
          help: "Add a thumbnail image to your post."
          placeholder: "Thumbnail"
          alterable: true
      - name: "published"
        field:
          element: "checkbox"
          label: "Publish"
          help: "Check to publish post, uncheck to hide."

plugins:
  - jekyll-paginate
  - jekyll-sitemap